# Development and build files
.next/
node_modules/
out/
dist/
coverage/

# Configuration files
.eslintignore
.prettierrc
stylelint.config.js
tsconfig.json

# Editor and IDE files
.vscode/
.idea/

# Test files
__tests__/
test/

# Miscellaneous
*.log
*.md
*.yml
*.config.js


app
next-env.d.ts
tsconfig.tsbuildinfo